<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.service.forum.mapper.TbCommentMapper">
    <sql id="tableName">
        tb_comment
    </sql>

    <sql id="baseColumn">
        comment_id,floor,user_id,content,create_time,last_modify_time,del_flag
    </sql>

</mapper>