<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.service.forum.mapper.TbCommentTopicMapper">
    <sql id="tableName">
        tb_comment_topic
    </sql>

    <sql id="baseColumn">
        id,master_id,flag,del_flag
    </sql>

</mapper>