<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.service.user.mapper.TbUserMapper">
    <sql id="tableName">
        tb_user
    </sql>

    <sql id="baseColumn">
        id,username,password,phone,email,avatar,description,created,updated,lock_flag,del_flag
    </sql>

</mapper>